@model Validations.Models.Fees

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Fees</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="smonth" class="control-label"></label>
                @*<select asp-for="smonth" class="form-control"></select>*@
                <select asp-for="smonth" asp-items="Html.GetEnumSelectList<Smonth>()" class="form-control"></select>
                <span asp-validation-for="smonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SAmount" class="control-label"></label>
                <input asp-for="SAmount" class="form-control" />
                <span asp-validation-for="SAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SDate" class="control-label"></label>
                <input asp-for="SDate" class="form-control" />
                <span asp-validation-for="SDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
